@import '_variables';

// .button {
//   color: white;
//   padding: 15px;
//   background-color: $primary-color;
// }

a {
  color: white;
  background-color: orchid;
  border-radius: 6px;
}

// Output:
// 